.container {
  display: flex;
  overflow: hidden;
  margin-top: 16px;
  flex-direction: row;
}
.box-wrapper {
  width: 100%;
  height: 236px;
  margin: 0 auto;
  gap: 10px;
  /* animation: slider 90s infinite; */
  display: flex;
}

.box {
  display: flex;
  min-width: 417px;
  height: 236px;
  padding-top: 20px;
  padding-left: 20px;
  gap: 20px;
  position: relative;
  overflow: hidden;
}
.box img {
  display: block;
  object-fit: cover;
}
.box .slider-button {
  position: absolute;
  background-color: white;
  border: none;
  border-radius: 20px;
  opacity: 0;
  transition: 0.3s ease;
  /* z-index: 2; */
  font-size: 20px;
  width: 150px;
  height: 40px;
  margin: 0 auto;
}
.box:hover .slider-button {
  opacity: 1;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.cont-position {
  display: flex;
  padding-top: 160px;
  font-weight: bold;
}
.img-position {
  display: flex;
  padding-top: 70px;
}
.web-color-1 {
  background-color: #eae6e1;
  color: #000000;
}
.web-color-2 {
  background-color: #1b2632;
  color: white;
}
.web-color-3 {
  background-image: url(./images/slider-3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.web-color-4 {
  background-image: url(./images/slider-4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.web-color-5 {
  background-image: url(./images/slider-5.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.web-color-6 {
  background-image: url(./images/slider-6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.web-color-7 {
  background-image: url(./images/slider-7.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.web-color-8 {
  background-color: rgb(64, 13, 14);
  color: white;
}
.web-color-9 {
  background-image: url(./images/slider-9.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.web-color-10 {
  background-color: rgb(38, 38, 38);
  color: white;
}
@keyframes slider {
  from {
    transform: translate(0px);
  }
  to {
    transform: translate(-100%);
  }
}
