* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* MOBILE */
/* SECTION-NAVIGATION */
.section-navigation {
  display: flex;
  width: 100%;
  height: 48px;
  justify-content: space-between;
  font-size: 12px;
  background-color: #f5f5f7cc;
}
.middle-navigation {
  display: none;
}
/* SECTION-CONTENT */
.section-content {
  height: 73px;
  font-size: 14px;
}
.donating {
  width: 328px;
}

.grid-container {
  display: grid;
  background-color: #ffffff;
  gap: 12px;
}
.card {
  background-color: #f1f1f1;
  border: 1px solid white;
}
/* <!-- SECTION-1 --> */
.section-1 {
  font-size: 14px;
  height: 500px;
  width: auto;
  color: white;
  flex-direction: column;
  background-image: url(./images/bg-sec-2-mobile.jpg);
  background-position: center;
  background-size: cover;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 16px;
  height: 80%;
}
.content-justify-1 {
  display: flex;
  justify-content: end;
}
.text-1 {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.text-1-black {
  color: #000000;
}
.button {
  display: flex;
  gap: 12px;
}
.learn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 107px;
  height: 36px;
  border-radius: 18px;
  background-color: #0071e3;
  font-size: 12px;
  margin: 0 auto;
}
.learn-white {
  background-color: white;
  color: #000000;
}

.buy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 107px;
  height: 36px;
  border-radius: 18px;
  border: 1px solid #0071e3;
  color: #0071e3;
  font-size: 12px;
}
.buy-white {
  border: 1px solid #ffffff;
  color: #ffffff;
}

/* <!-- SECTION-2 --> */
.section-2 {
  font-size: 18px;
  height: 500px;
  width: auto;
  color: white;
  flex-direction: column;
  background-image: url(./images/bg-sec-3-mobile.png);
  background-position: center;
  background-size: cover;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 16px;
  height: 80%;
}
.content-justify-2 {
  display: flex;
  justify-content: start;
}
/* <!-- SECTION-3 --> */
.section-3 {
  font-size: 1px;
  height: 500px;
  width: auto;
  color: white;
  flex-direction: column;
  background-image: url(./images/bg-sec-4-mobile.png);
  background-position: center;
  background-size: cover;
}
.hello-gradient {
  background: #833ab4;
  background: linear-gradient(90deg, #0090f7, #ba62fc, #f2416b, #f55600);
  font-size: 20px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 280px;
}
.section-gift {
  display: none;
}
/* <!-- SECTION-4 --> */
.section-4 {
  font-size: 14px;
  height: 500px;
  width: auto;
  color: white;
  flex-direction: column;
  background-image: url(./images/bg-sec-5-mobile.png);
  background-position: center;
  background-size: cover;
}
.text-width {
  width: 241px;
}
.airpods-pro-web {
  display: none;
}
/* <!-- SECTION-5 --> */
.section-5 {
  font-size: 14px;
  height: 500px;
  width: auto;
  color: white;
  flex-direction: column;
  background-image: url(./images/bg-sec-6-mobile.png);
  background-position: center;
  background-size: cover;
}
/* <!-- SECTION-6 --> */
.section-6 {
  font-size: 14px;
  height: 500px;
  width: auto;
  color: white;
  flex-direction: column;
  background-image: url(./images/bg-sec-7-mobile.jpg);
  background-position: center;
  background-size: cover;
}
/* <!-- SECTION-7 --> */
.section-7 {
  font-size: 14px;
  height: 500px;
  width: auto;
  color: white;
  flex-direction: column;
  background-image: url(./images/bg-sec-8-mobile.png);
  background-position: center;
  background-size: cover;
}

/* <!-- SECTION-8 --> */
.section-8 {
  font-size: 14px;
  display: flex;
  height: 500px;
  width: auto;
  color: white;
  flex-direction: column;
  background-image: url(./images/bg-sec-9-mobile.jpg);
  background-position: center;
  background-size: cover;
}
.content-justify-1 {
  display: flex;
  justify-content: end;
}
.section-9 {
  font-size: 14px;
  height: 500px;
  width: auto;
  color: white;
  flex-direction: column;
  background-image: url(./images/bg-sec-10-mobile.jpg);
  background-position: center;
  background-size: cover;
}
/* <!-- SECTION-10 --> */
.section-10 {
  display: none;
}
.only-web {
  display: none;
}

.airpods-pro-web {
  display: none;
}
/* SCROLLING */
.scroller {
  overflow-x: hidden;
}
#scrolling {
  height: 533px;
  background-color: #ffffff;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  padding-top: 12px;
}
.image {
  min-width: 274px;
  height: 495px;
  overflow: auto;
}
#pad-scrolling {
  display: none;
}
.web-scrolling {
  display: none;
}
/* ANIMATION */
.container {
  display: flex;
  overflow: hidden;
  margin-top: 16px;
  flex-direction: row;
}
.box-wrapper {
  width: 100%;
  height: 236px;
  margin: 0 auto;
  gap: 10px;
  animation: slider 60s linear infinite;
  animation-delay: calc((56.5s / var(--quantity)) * (var(--item) - 6.5));
  display: flex;
}

.box {
  display: flex;
  min-width: 417px;
  height: 236px;
  padding-top: 20px;
  padding-left: 20px;
  gap: 20px;
  position: relative;
  overflow: hidden;
  transition: filter 0.5s;
}
.box img {
  display: block;
  object-fit: cover;
}
.box .slider-button {
  position: absolute;
  background-color: white;
  border: none;
  border-radius: 20px;
  opacity: 0;
  transition: all 0.3s ease-in;
  font-size: 20px;
  width: 150px;
  height: 40px;
  margin: 0 auto;
}
.box:hover .slider-button {
  opacity: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.box-wrapper:hover .box {
  filter: grayscale(1);
  animation-play-state: paused;
}
.box-wrapper .box:hover {
  filter: grayscale(0);
  animation-play-state: paused;
}
.cont-position {
  position: absolute;
  padding-top: 180px;
  font-weight: bold;
}
.img-position {
  display: flex;
  padding-top: 90px;
}
.web-color-1 {
  background-color: #eae6e1;
  color: #000000;
}
.web-color-2 {
  background-color: #1b2632;
  color: white;
}
.web-color-3 {
  background-image: url(./images/slider-3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.web-color-4 {
  background-image: url(./images/slider-4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.web-color-5 {
  background-image: url(./images/slider-5.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.web-color-6 {
  background-image: url(./images/slider-6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.web-color-7 {
  background-image: url(./images/slider-7.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.web-color-8 {
  background-color: rgb(64, 13, 14);
  color: white;
}
.web-color-9 {
  background-image: url(./images/slider-9.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.web-color-10 {
  background-color: rgb(38, 38, 38);
  color: white;
}
@keyframes slider {
  from {
    transform: translate(0px);
  }
  to {
    transform: translate(-100%);
  }
}
/* IPAD */
@media screen and (min-width: 768px) {
  .donating {
    width: 100%;
  }
  .section-1 {
    height: 650px;
    background-image: url(./images/bg-sec-2-web.jpg);
    align-items: start;
  }
  .content-justify-1 {
    display: flex;
    justify-content: start;
  }
  .section-2 {
    height: 650px;
    background-image: url(./images/bg-sec-3-web.jpg);
    align-items: start;
  }
  .section-3 {
    height: 650px;
    /* width: 100vw; */
    background-image: url(./images/bg-sec-4-pad\ for\ web.jpg);
    align-items: start;
  }
  .hello-gradient {
    padding-top: 400px;
  }
  .section-gift {
    display: none;
  }
  .section-4 {
    height: 650px;
    background-image: url(./images/bg-sec-5-pad.jpg);
    align-items: start;
  }
  .content-justify-1 {
    display: flex;
    justify-content: end;
  }
  .airpods-pro-web {
    display: none;
  }
  .section-5 {
    height: 650px;
    background-image: url(./images/bg-sec-6-pad.jpg);
    align-items: start;
  }
  .section-6 {
    height: 650px;
    background-image: url(./images/bg-sec-7-pad.jpg);
    align-items: start;
  }
  .section-7 {
    height: 650px;
    background-image: url(./images/bg-sec-8-mobile.png);
    align-items: start;
  }
  .section-8 {
    height: 650px;
    background-image: url(./images/bg-sec-9-mobile.jpg);
    align-items: start;
  }
  .section-9 {
    height: 650px;
    background-image: url(./images/bg-sec-10-web.jpg);
    align-items: start;
  }
  .section-10 {
    display: none;
  }
  .only-web {
    display: none;
  }
  .grid-container {
    grid-template-columns: auto auto;
  }
  #pad-scrolling {
    overflow-x: scroll;
    height: 368px;
    background-color: #ffffff;
    display: flex;
    gap: 16px;
    padding-top: 12px;
  }
  #scrolling {
    display: none;
  }
  .web-scrolling {
    display: none;
  }
  .container {
    width: 100%;
    overflow: hidden;
  }
}
/* WEBSITE */

@media screen and (min-width: 1920px) {
  /* SECTION-NAVIGAITON */
  .section-navigation {
    margin: 0 auto;
    gap: 24px;
    justify-content: center;
  }
  .middle-navigation {
    display: flex;
    width: 705px;
    list-style: none;
    gap: 24px;
    align-items: center;
  }
  .lines {
    display: none;
  }
  .section-1 {
    height: 650px;
    background-image: url(./images/bg-sec-2-web.jpg);
  }
  .section-2 {
    height: 650px;
    background-image: url(./images/bg-sec-3-web.jpg);
    align-items: start;
  }

  /* <!-- SECTION-for web --> */
  .section-gift {
    font-size: 14px;
    display: flex;
    height: 650px;
    width: 100vw;
    color: white;
    flex-direction: column;
    background-image: url(./images/bg-sec-4-web.png);
    background-position: center;
    background-size: cover;
  }
  .content-justify-1 {
    display: flex;
    justify-content: end;
  }

  .section-3 {
    height: 650px;
    background-image: url(./images/bg-sec-4-pad\ for\ web.jpg);
    align-items: start;
    background-position-x: center;
    background-position-y: 35%;
  }
  .margin-auto {
    margin: 0 auto;
  }
  .section-4 {
    background-image: url(./images/bg-sec-5-web.jpg);
    align-items: start;
  }
  .airpods-pro-no {
    display: none;
  }
  .section-5 {
    background-image: url(./images/bg-sec-6-web.jpg);
    align-items: start;
  }
  .section-6 {
    background-image: url(./images/bg-sec-7-web.jpg);
    align-items: start;
  }
  .section-7 {
    display: none;
  }
  .section-8 {
    display: none;
  }
  .section-9 {
    background-image: url(./images/bg-sec-10-web.jpg);
    align-items: start;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .section-10 {
    font-size: 14px;
    height: 650px;
    width: auto;
    color: white;
    flex-direction: column;
    background-image: url(./images/bg-sec-11-web.jpg);
    background-position-x: center;
    background-position-y: 35%;
    background-position: center;
    background-size: cover;
  }
  .none-for-web {
    display: none;
  }
  .no-web {
    display: none;
  }
  .grid-container {
    grid-template-columns: auto auto;
  }
  #pad-scrolling {
    display: none;
  }
  .scroller {
    display: none;
  }
  .scroller-web {
    width: 100vw;
    height: 668px;
    margin-top: 12px;

    overflow-y: hidden;
    overflow-x: scroll;
  }
  .web-scrolling {
    background-color: #ffffff;
    display: flex;
    gap: 10px;
    background-position: center;
    background-size: cover;
  }
  .web-img {
    color: white;
    font-size: 20px;
    background-position: center;
    background-size: cover;
    display: flex;
    width: 1250px;
    height: 668px;
    align-items: center;
  }
  .web-s-1 {
    background-image: url(./images/web-1.jpg);
    overflow: auto;
    min-width: 1250px;
    height: 665px;
  }
  .web-s-2 {
    background-image: url(./images/web-2.jpg);
    overflow: auto;
    min-width: 1250px;
  }
  .web-s-3 {
    background-image: url(./images/web-3.jpg);
    overflow: auto;
    min-width: 1250px;
  }
  .web-s-4 {
    background-image: url(./images/web-4.jpg);
    overflow: auto;
    min-width: 1250px;
  }
  .web-s-5 {
    background-image: url(./images/web-5.jpg);
    overflow: auto;
    min-width: 1250px;
  }
  .web-s-6 {
    background-image: url(./images/web-6.jpg);
    overflow: auto;
    min-width: 1250px;
  }
  .web-s-7 {
    background-image: url(./images/web-7.jpg);
    overflow: auto;
    min-width: 1250px;
  }
  .web-s-8 {
    background-image: url(./images/web-8.jpg);
    overflow: auto;
    min-width: 1250px;
  }
  .web-s-9 {
    background-image: url(./images/web-9.jpg);
    overflow: auto;
    min-width: 1250px;
  }
  .web-s-10 {
    background-image: url(./images/web-10.jpg);
    overflow: auto;
    min-width: 1250px;
  }
  .info {
    display: flex;
    height: 90%;
    margin-left: 40px;
    align-items: end;
    gap: 20px;
  }
  .sub-info {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .stream {
    width: 133px;
    height: 44px;
    background-color: #f5f5f7;
    border-radius: 20px;
    color: #000000;
    font-size: 17px;
  }
  .schedule {
    width: 160px;
    height: 44px;
    background-color: #f5f5f7;
    border-radius: 20px;
    color: #000000;
    font-size: 17px;
  }
  .container {
    display: 100%;
    overflow: hidden;
  }
}

.bullets {
  display: flex;
  margin-top: 14px;
  justify-content: center;
}
.round {
  width: 8px;
  height: 8px;
  opacity: 0.75;
  background-color: rgba(0, 0, 0, 0.42);
  margin-inline: 7px;
  border-radius: 50%;
  transition: opacity 250ms;
}
.round:hover {
  opacity: 1;
}
