* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* MOBILE */
/* SECTION-NAVIGATION */
.section-navigation {
  display: flex;
  width: 100%;
  height: 48px;
  justify-content: space-between;
  font-size: 12px;
  background-color: #f5f5f7cc;
}
.middle-navigation {
  display: none;
}
/* SECTION-CONTENT */
.section-content {
  height: 73px;
  font-size: 14px;
}
.donating {
  width: 328px;
}
/* <!-- SECTION-1 --> */
.section-1 {
  font-size: 14px;
  height: 500px;
  width: auto;
  color: white;
  flex-direction: column;
  background-image: url(./images/bg-sec-2-mobile.jpg);
  background-position: center;
  background-size: cover;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 16px;
  height: 80%;
}
.content-justify-1 {
  display: flex;
  justify-content: end;
}
.text-1 {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.text-1-black {
  color: #000000;
}
.button {
  display: flex;
  gap: 12px;
}
.learn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 107px;
  height: 36px;
  border-radius: 18px;
  background-color: #0071e3;
  font-size: 12px;
}
.learn-white {
  background-color: white;
  color: #000000;
}

.buy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 107px;
  height: 36px;
  border-radius: 18px;
  border: 1px solid #0071e3;
  color: #0071e3;
  font-size: 12px;
}
.buy-white {
  border: 1px solid #ffffff;
  color: #ffffff;
}

/* <!-- SECTION-2 --> */
.section-2 {
  font-size: 14px;
  height: 500px;
  width: auto;
  color: white;
  flex-direction: column;
  background-image: url(./images/bg-sec-3-mobile.png);
  background-position: center;
  background-size: cover;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 16px;
  height: 80%;
}
.content-justify-2 {
  display: flex;
  justify-content: start;
}
/* <!-- SECTION-3 --> */
.section-3 {
  font-size: 14px;
  height: 500px;
  width: auto;
  color: white;
  flex-direction: column;
  background-image: url(./images/bg-sec-4-mobile.png);
  background-position: center;
  background-size: cover;
}
.hello-gradient {
  background: #833ab4;
  background: linear-gradient(90deg, #0090f7, #ba62fc, #f2416b, #f55600);
  font-size: 20px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 280px;
}
.section-gift {
  display: none;
}
/* <!-- SECTION-4 --> */
.section-4 {
  font-size: 14px;
  height: 500px;
  width: auto;
  color: white;
  flex-direction: column;
  background-image: url(./images/bg-sec-5-mobile.png);
  background-position: center;
  background-size: cover;
}
.text-width {
  width: 241px;
}
.airpods-pro-web {
  display: none;
}
/* <!-- SECTION-5 --> */
.section-5 {
  font-size: 14px;
  height: 500px;
  width: auto;
  color: white;
  flex-direction: column;
  background-image: url(./images/bg-sec-6-mobile.png);
  background-position: center;
  background-size: cover;
}
/* <!-- SECTION-6 --> */
.section-6 {
  font-size: 14px;
  height: 500px;
  width: auto;
  color: white;
  flex-direction: column;
  background-image: url(./images/bg-sec-7-mobile.jpg);
  background-position: center;
  background-size: cover;
}
/* <!-- SECTION-7 --> */
.section-7 {
  font-size: 14px;
  height: 500px;
  width: auto;
  color: white;
  flex-direction: column;
  background-image: url(./images/bg-sec-8-mobile.png);
  background-position: center;
  background-size: cover;
}
/* IPAD */
@media screen and (min-width: 768px) {
  .donating {
    width: 100%;
  }
  .section-1 {
    height: 650px;
    background-image: url(./images/bg-sec-2-web.jpg);
    align-items: start;
  }
  .content-justify-1 {
    display: flex;
    justify-content: start;
  }
  .section-2 {
    height: 650px;
    background-image: url(./images/bg-sec-3-web.jpg);
    align-items: start;
  }
  .section-3 {
    height: 650px;
    background-image: url(./images/bg-sec-4-pad\ for\ web.jpg);
    align-items: start;
  }
  .section-gift {
    display: none;
  }
  .section-4 {
    height: 650px;
    background-image: url(./images/bg-sec-5-pad.jpg);
    align-items: start;
  }
  .content-justify-1 {
    display: flex;
    justify-content: end;
  }
  .airpods-pro-web {
    display: none;
  }
  .section-5 {
    height: 650px;
    background-image: url(./images/bg-sec-6-pad.jpg);
    align-items: start;
  }
  .section-6 {
    height: 650px;
    background-image: url(./images/bg-sec-7-pad.jpg);
    align-items: start;
  }
}
/* WEBSITE */
@media screen and (min-width: 1920px) {
  /* SECTION-NAVIGAITON */
  .section-navigation {
    margin: 0 auto;
    gap: 24px;
    justify-content: center;
  }
  .middle-navigation {
    display: flex;
    width: 705px;
    list-style: none;
    gap: 24px;
    align-items: center;
  }
  .lines {
    display: none;
  }
  .section-1 {
    height: 650px;
    background-image: url(./images/bg-sec-2-web.jpg);
  }
  .section-2 {
    height: 650px;
    background-image: url(./images/bg-sec-3-web.jpg);
    align-items: start;
  }

  /* <!-- SECTION-for web --> */
  .section-gift {
    font-size: 14px;
    display: flex;
    height: 650px;
    width: auto;
    color: white;
    flex-direction: column;
    background-image: url(./images/bg-sec-4-web.png);
    background-position: center;
    background-size: cover;
  }
  .content-justify-1 {
    display: flex;
    justify-content: end;
  }

  .section-3 {
    height: 650px;
    background-image: url(./images/bg-sec-4-pad\ for\ web.jpg);
    align-items: start;
    background-position-x: center;
    background-position-y: 35%;
  }
  .margin-auto {
    margin: 0 auto;
  }
  .section-4 {
    background-image: url(./images/bg-sec-5-web.jpg);
    align-items: start;
  }
  .airpods-pro-no {
    display: none;
  }
  .section-5 {
    background-image: url(./images/bg-sec-6-web.jpg);
    align-items: start;
  }
  .section-6 {
    background-image: url(./images/bg-sec-7-web.jpg);
    align-items: start;
  }
  .section-7 {
    display: none;
  }
}
